name: "Parsnip and Lentil Lasagne"
url: "parsnip-and-lentil-lasagne"
ingredients: [
  name: "Lasagne sheets"
  quantity: "200g"
  notes: "12 sheets"
,
  name: "Soft Goats cheese"
  quantity: "150g"
  notes: "or ricotta"
,
  name: "Feta"
  quantity: "200g"
,
  name: "Milk"
  quantity: "100ml"
  notes: "Full fat or semi-skimmed"
,
  name: "Parsnips"
  quantity: "400g"
,
  name: "Red Onion"
  quantity: "1 large"
  prep: "thinly sliced"
,
  name: "Red lentils"
  quantity: "100g"
,
  name: "Red peppers"
  quantity: "2 large"
  prep: "diced"
,
  name: "Carrot"
  quantity: "1 large"
  prep: "thinly sliced"
,
  name: "Cellery Sticks"
  quantity: "2"
  prep: "thinly sliced"
,
  name: "Vegetable Stock"
  quantity: "300ml"
,
  name: "Passata"
  quantity: "250ml"
,
  name: "Kidney Beans"
  quantity: "2 400g tins"
  prep: "drained and rinsed"
,
  name: "Sunflower Oil"
  notes: "or olive oil"
,
  name: "Bay Leaf"
,
  name: "Salt"
,
  name: "Pepper"
,
  name: "Nutmeg"
  prep: "grated"
  notes: "Optional"
]
method: [
  "Heat the oil in a large saucepan."
  "Add the onion and soften for about 10 minutes."
  "Add the lentils, red peppers, carrot, cellery, vegetable stock, bay leaf and pasatta."
  "Bring the mixture to the boil, then reduce the heat and simmer for 25 minutes or until the lentils/vegetables are soft."
  "Preheat the oven the 190C/gas mark 5."
  "Remove the bay leaf and partially puree with a hand blender."
  "Season with salt/pepper to taste then mix in the beans."
  "Spoon 1/4 of the sauce over the bottom of a large greaseproof dish then cover with lasagne sheets."
  "Add two more layers like so: spread half the sauce on top of the lasagne sheets, arrange half the roast parsnips in the sauce then finally cover with lasagne sheets."
  "Put the ricotta cheese in a bowl and stir in the milk until smooth. If the ricotta is too firm/cold try giving the mixture a second or two in the microwave. Season with pepper."
  "Spoon the ricotta mixture over the dish then scatter with crumbled goats cheese and nutmeg."
  "Bake for 40 minutes or until bubbly and golden."
  "Take out of the oven and leave to stand for 5 minutes before serving."
]
