name: "Blue Cheese Gnocchi"
url: "blue-cheese-gnocchi"
ingredients: [
  "500g Gnocchi"
  "~70g Parmesan, grated"
  "150ml Creme Fraiche"
  "200g Spinach"
  "200g Stilton, diced/crumbled"
  "(Optional) Pimento Stuffed olives"
  "(Optional) Cherry Tomatoes"
  "(Optional) Fresh bread"
]
method: [
  "Tear up the spinach into a colander"
  "Place the ghocchi in a pan of boiling water and simmer until the gnocchi start to float to the surface"
  "Throw the torn spinach into the pan then drain immediately"
  "Empty the gnocchi/spinach into an ovenproof dish and mix in the parmesan and creme fraiche"
  "Sprinkle crumbled stilton over the top"
  "Grill on a medium/high heat until the stilton is bubbling and golden"
  "Serve on fresh bread with cherry tomatoes, olives, and anything else you can think of."
]
