name: "Blue Cheese Gnocchi"
url: "blue-cheese-gnocchi"
ingredients: [
  name: "Gnocchi"
  quantity: "500g"
,
  name: "Parmesan"
  quantity: "~70g"
  prep: "grated"
,
  name: "Creme Fraiche"
  quantity: "150ml"
,
  name: "Spinach"
  quantity: "200g"
,
  name: "Stilton"
  quantity: "200g"
  prep: "diced/crumbled"
,
  name: "Pimento Stuffed olives"
  notes: "Optional"
,
  name: "Cherry Tomatoes"
  notes: "Optional"
,
  name: "Fresh bread"
  notes: "Optional"
]
method: [
  "Tear up the spinach into a colander"
  "Place the ghocchi in a pan of boiling water and simmer until the gnocchi start to float to the surface"
  "Throw the torn spinach into the pan then drain immediately"
  "Empty the gnocchi/spinach into an ovenproof dish and mix in the parmesan and creme fraiche"
  "Sprinkle crumbled stilton over the top"
  "Grill on a medium/high heat until the stilton is bubbling and golden"
  "Serve on fresh bread with cherry tomatoes, olives, and anything else you can think of."
]
