name: "Chilli con Carne"
url: "chilli-con-carne"
source: "Kit's Dad"
ingredients: [
  "Oil"
  "Salt"
  "Pepper"
  "1 tsp Chilli Powder"
  "1 tsp Crushed/whole dried chillies"
  "Paprika"
  "Tomato Puree"
  "Tinned tomatoes"
  "Italian Herbs"
  "Brown Sauce"
  "Beef stock cube/Bovril"
  "Rice"
  "Olive Oil"
  "1 Onion"
  "1 Garlic Clove"
  "Tin of Kidney Beans"
  "1 tbsp Honey (optional)"
  "500g Mince"
]
method: [
  "Slice onions, crush garlic then brown in 2 tsp olive oil."
  "Add the mince in batches and brown then stir in chilli powder and paprika."
  "Add the stock cube/Bovril dissolved in a small amount of water and stir."
  "Then add 2 inches or so of tomato puree and stir again, followed by the tinned tomatoes."
  "Simmer for half an hour then check for taste."
  "Add chilli powder or tomato puree depending on flavour, also salt/pepper if needed."
  "A tablespoon of honey can improve the flavour."
  "Serve with rice (preferably) or pasta."
]
