name: "Chilli con Carne"
url: "chilli-con-carne"
source: "Kit's Dad"
ingredients: [
  name: "Oil"
,
  name: "Salt"
,
  name: "Pepper"
,
  name: "Chilli Powder"
  quantity: "1 tsp"
,
  name: "Crushed or whole dried chillies"
  quantity: "1 tsp"
,
  name: "Paprika"
,
  name: "Tomato Puree"
,
  name: "Tinned tomatoes"
,
  name: "Italian Herbs"
,
  name: "Brown Sauce"
,
  name: "Beef stock cube or Bovril"
,
  name: "Rice"
,
  name: "Olive Oil"
,
  name: "Onion",
  quantity: "1"
,
  name: "Garlic Clove"
  quantity: "1"
,
  name: "Tinned Kidney Beans"
,
  name: "Honey"
  quantity: "1 tbsp"
  notes: "Optional"
,
  name: "Mince"
  quantity: "500g"
]
method: [
  "Slice onions, crush garlic then brown in 2 tsp olive oil."
  "Add the mince in batches and brown then stir in chilli powder and paprika."
  "Add the stock cube/Bovril dissolved in a small amount of water and stir."
  "Then add 2 inches or so of tomato puree and stir again, followed by the tinned tomatoes."
  "Simmer for half an hour then check for taste."
  "Add chilli powder or tomato puree depending on flavour, also salt/pepper if needed."
  "A tablespoon of honey can improve the flavour."
  "Serve with rice (preferably) or pasta."
]
