name: "Creamy cauliflower cheese with walnuts"
url: "creamy-cauliflower-cheese"
source: "https://docs.google.com/document/d/1A0bgFOwirLW2mct8KNrxYdk4OEsGZtY23mFdgOljHFA"
ingredients: [
  "1 Cauliflower, cut into 1cm pieces"
  "300 Creme Fraiche (or Cream Cheese)"
  "1 tsp Dijon Mustard"
  "125g Blue Cheese, crumbled"
  "25g Walnuts, roughly chopped"
  "50g Cheddar Cheese, grated"
  "Salt"
  "Black pepper"
]
method: [
  "Steam the cauliflower until tender, drain, then place in a grill-suitable dish"
  "Mix the cream cheese and mustard with the cauliflower, then stir in the blue cheese. Season with a little salt if necessary and plenty of pepper."
  "Scatter the walnuts on top, then cover with the cheddar (this helps to prevent the walnuts from burning)."
  "Place under a preheated hot grill for 10-15 minutes, or until the top is golden brown and the inside hot and bubbling."
]
