url: "easy-soup"
name: "Easy Soup"
ingredients: [
  name: "Butter"
  quantity: "Knob"
,
  name: "Onion"
  quantity: "1"
,
  name: "Red Pepper"
  quantity: "1"
,
  name: "Apple"
  quantity: "1"
,
  name: "Carrot"
  quantity: "1"
,
  name: "Water"
  quantity: "600ml"
,
  name: "Stock Cube"
,
  name: "Mixed Herbs"
,
  name: "Extra vegetables"
  notes: "Optional"
]
method: [
  "Chop up everything and place everything but the onions in a bowl."
  "Boil the water and add the stock cube and stir it in."
  "Melt the butter then add the onions and soften then under a low heat for a minute or so."
  "Add all the vegetables then the water and herbs."
  "Turn up the heat and boil for a minute then turn down the heat and simmer it for 30 minutes. Wait until cool and blend."
]
