url: "easy-soup"
name: "Easy Soup"
ingredients: [
  "Knob Butter"
  "1 Onion"
  "1 Red Pepper"
  "1 Apple"
  "1 Carrot"
  "600ml Water"
  "Stock Cube"
  "Mixed Herbs"
  "Extra vegetables (Optional)"
]
method: [
  "Chop up everything and place everything but the onions in a bowl."
  "Boil the water and add the stock cube and stir it in."
  "Melt the butter then add the onions and soften then under a low heat for a minute or so."
  "Add all the vegetables then the water and herbs."
  "Turn up the heat and boil for a minute then turn down the heat and simmer it for 30 minutes. Wait until cool and blend."
]
