name: "Creamy mushroom stroganoff"
url: "mushroom-stroganoff"
source: "http://allrecipes.co.uk/recipe/6460/creamy-mushroom-stroganoff.aspx"
notes: '''
You can substitute Shiitake or Porchini mushrooms for their dried equivalents.
Pots of dried forest mushrooms also work. Try softening the mushrooms in the stock.
'''
ingredients: [
  "50g Butter"
  "1 Large Onion, sliced"
  "250g Brown Mushrooms, sliced"
  "Some Shiitake or Porchini Mushrooms"
  "1 Vegetable or Mushroom stock cube"
  "350ml Soured Cream"
  "3 tablespoons Plain Flour"
  "Salt"
  "Black Pepper"
]
method: [
  "Chop the shiitake or porchini mushrooms into large pieces"
  "Boil the kettle then use as little water as possible to disolve the cube in a jug."
  "Melt butter in a large frying pan then soften the onion."
  "Turn up the heat and add the brown mushrooms. Cook for a minute or so."
  "Add the Shiitake or Porchini Mushrooms and cook for a minute more."
  "Turn down the heat then stir in the soured cream, being careful not to let it boil."
  "Stir in the vegetable stock until you have a creamy sauce that isn't too watery. You might not need all the stock. Sift in plain flour, a small bit at a time, if needed."
  "Add salt and black pepper to taste."
  "Serve with rice."
]
